<div class="flex justify-between">
    <div>
        <span class="m-auto text-3xl pl-2">Excel</span>
        <div class="mb-5 overflow-x-auto max-w-9/12 w-full h-80 max-h-80 border-2 border-slate-400 rounded-lg shadow-lg shadow-cyan-700/50">

            <div class="p-2">
                <span class="text-lg">
                    Statistic_20200402.xlsx - 2020.04.20 14:10:58
                </span>
                <button class="m-2 p-2 text-2xl bg-red-600 rounded-lg hover:bg-red-500 hover:text-red-900">
                    <i class="uil uil-trash-alt"></i>
                </button>
                <button class="m-2 p-2 text-2xl bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                    <i class="uil uil-file-download-alt"></i>
                </button>
            </div>

        </div>

        <div class="pl-2 flex flex-column">
            <button class="p-1 mr-5 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1 uil uil-file-plus-alt"></i>
                <span>Generate new by JSON</span>
            </button>

            <button class="p-1 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1 uil uil-file-upload-alt"></i>
                <span>Upload new file</span>
            </button>
        </div>

    </div>

    <div>
        <span class="m-auto text-3xl pl-2">PDF</span>
        <div class="mb-5 overflow-x-auto max-w-9/12 w-full h-80 max-h-80 border-2 border-slate-400 rounded-lg shadow-lg shadow-cyan-700/50">

            <div class="p-2">
                <span class="text-lg">
                    Statistic_20200402.xlsx - 2020.04.20 14:10:58
                </span>
                <button class="m-2 p-2 text-2xl bg-red-600 rounded-lg hover:bg-red-500 hover:text-red-900">
                    <i class="uil uil-trash-alt"></i>
                </button>
                <button class="m-2 p-2 text-2xl bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                    <i class="uil uil-file-download-alt"></i>
                </button>
            </div>

        </div>

        <div class="pl-2 flex flex-column">
            <button class="p-1 mr-5 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1  uil uil-file-plus-alt"></i>
                <span>Generate new by JSON</span>
            </button>

            <button class="p-1 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1 uil uil-file-upload-alt"></i>
                <span>Upload new file</span>
            </button>
        </div>

    </div>

    <div>

        <span class="m-auto text-3xl pl-2">Word</span>
        <div class="mb-5 overflow-x-hidden max-w-9/12 w-full h-80 max-h-80 border-2 border-slate-400 rounded-lg shadow-lg shadow-cyan-700/50">

            <div class="p-2">
                <span class="pr-1">
                    Statistic_20200402.xlsx - 2020.04.20 14:10:58
                </span>
                <button class="p-2 text-xl bg-red-600 rounded-lg hover:bg-red-500 hover:text-red-900">
                    <i class="uil uil-trash-alt"></i>
                </button>
                <button class="p-2 text-xl bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                    <i class="uil uil-file-download-alt"></i>
                </button>
            </div>

        </div>

        <div class="pl-2 flex flex-column">
            <button class="p-1 mr-5 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1  uil uil-file-plus-alt"></i>
                <span>Generate new by JSON</span>
            </button>

            <button class="p-1 flex items-center bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600">
                <i class="text-2xl pr-1 uil uil-file-upload-alt"></i>
                <span>Upload new file</span>
            </button>
        </div>

    </div>

</div>

