<div class="flex">
   <div id="files" x-data="{files: {}}"  x-init="files = await GetXData('logs')" class="w-60 h-full">
      <template x-for="item in files['files']">
          <div class="flex items-center">
              <div x-text="item['file']"> </div>
              <button class="m-1 p-1 text-2xl bg-lime-500 rounded-lg hover:bg-lime-400 hover:text-lime-600"
                      @click="document.getElementById('filecontent').innerText = item['content']"
                      x-tooltip="See log content">
                  <i class="text-2xl uil uil-eye"></i>
              </button>
          </div>
      </template>
   </div>

    <div id="filecontent" class="w-1/2 mx-2 px-2 border rounded h-96 max-h-96 overflow-auto"> </div>
</div>